
<---task2----->
body {font-size: 150%;color:red}

<---task3----->

body {
background-image:url('clip.jpg');
background-position:center;
background-repeat:repeat-x;
background-attachment:fixed;
}
<---task3----->
h1,h2 {
padding:0.5em;
border-style: dashed;
margin:0.5em;
}
