
ul {
  list-style-type: none;
  overflow: hidden;
  background-color:#0C2233;
  top: 0px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-right: 30px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0C2233;
}
body{
  background-color:#0A91AB;
  color: :white;
  text-align: center;
}
.topnav {
  overflow: hidden;
  background-color: #0C2233;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom:10px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
h2{
  font-family:Geogria; font-style:bold;font-size:40px;text-align:center;color: white;
}
h4
{
  font-size:20px;
  color: white;

}
p{
  font-family:Lucida Sans Unicode; font-size:20px; text-align:center;
  color: white;
}
img
{
  width:500px;height:400px;float: left; margin-right: 15px;
  position:relative;
}
footer {
 width: 100%; height: auto;background-color:#0C2233; font-size: medium;
  left: 0;
  bottom: 0;
  background-color:#0C2233;
  color: white;
  text-align: center;
}
td{
  width:auto;
  padding: 50px;
}
button
{
  height: 40px; 
  width:100px;
  background-color: #0C2233;
  color: white;
  border:none;
}
